<% if (render) { %>
    <% productos.forEach(item=> { %>
        <div class="col mb-5">
            <div class="card h-100 bg-dark" id=<%=item._id%> >
                <img class="card-img-top" src=<%=item.thumbnail%> alt=<%=item.title%> >
                    <div class="card-body p-2 pt-4 bg-dark">
                        <div class="text-center text-white">
                            <h6 class="fw-bolder">
                                <%=item.title%>
                            </h6>
                            <h4 class="fw-bolder mt-3"> $
                                <%=item.price%>
                            </h4>
                        </div>
                        <div class="d-flex justify-content-center align-items-center text-white py-2">
                            <i class="fa-solid fa-minus fa-lg" onclick="onRest('<%= item._id %>')"></i>
                            <h5 class="m-0 px-3" id='<%= item._id %>counter'>1</h5>
                            <i class="fa-solid fa-plus fa-lg" onclick="onAdd('<%= item._id %>')"></i>
                        </div>
                    </div>
                    <div class="card-footer p-2 pt-0 border-top-0 bg-dark">
                        <div class="text-center text-white pb-2">
                            <button class="btn btn-success" type="button" onclick="captureProducto('<%= item._id %>')">Agregar al carrito</button>
                        </div>
                    </div>
            </div>
        </div>

        <% }) %>
            <% } else { %>
                <h5 class="text-center text-danger p-2 fw-bold">No hay productos</h5>
                <% } %>